<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>personal_project</title>
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/ui-grid.min.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <script src="vendors/angular.min.js"></script>
  <script src="vendors/angular-animate.min.js"></script>
  <script src="vendors/angular-route.min.js"></script>
  <script src="vendors/ui-grid.min.js"></script>
  <!-- <script src="assets/scripts/client.js"></script>
  <script src="assets/scripts/factories/factory.data.js"></script>
  <script src="assets/scripts/controllers/directoryController.js"></script>
  <script src="assets/scripts/controllers/homeController.js"></script>
  <script src="assets/scripts/directives/searchResult.js"></script> -->
  <script src="assets/scripts/app.min.js"></script>
  <script src="assets/scripts/factories.min.js"></script>
  <script src="assets/scripts/directives.min.js"></script>
  <script src="assets/scripts/controllers.min.js"></script>
</head>
<body>
  <header>this is a header</header>
  <nav ng-include="'assets/views/templates/navigation.html'">This text doesn't show up</nav>
  <main ng-view>doe this show?</main>
  <footer></footer>

</body>
</html>
