<div >
  <p>Dirctory Page!</p>
  <label for="=first_name">First Name</label>
  <input type="text" ng-model="searchObject.first_name">

  <label for="last_name">Last Name</label>
  <input type="text" ng-model="searchObject.last_name">

  <label for="email">Email</label>
  <input type="text" ng-model="searchObject.email">

  <div ng-click="getQuery()" class="btn">Submit</div>
  <!-- <div ng-repeat="person in searchResults">

    <search-result result="person"></search-result>
  </div> -->

<div class="member-results" ui-grid="gridOptions"></div>
</div>
