
<!-- <div class="" layout="row"> -->
  <div layout="row">
    <md-whiteframe class="md-whiteframe-4dp" flex-sm="45" flex-gt-sm="35"
      flex-gt-md="25" layout="row" layout-align="center center" layout-margin>

      <img src="http://placebear.com/400/300" alt="" />
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-4dp" layout-margin
     flex="auto" layout="row" layout-align="center center">
      <p layout="row" flex="40">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et
          consectetur massa. Sed scelerisque commodo libero, sed bibendum nisl
          vulputate sed. Vestibulum vitae velit venenatis, fermentum nisi ac,
           lacinia tortor. Etiam iaculis elementum ante vitae cursus. Donec vel
           velit imperdiet, elementum ligula eu, pharetra lorem. Aliquam sit
           amet magna ac lorem porta cursus sit amet a sem. Mauris fermentum id
           ante eget mollis. Nam urna neque, mollis vel purus eu, rhoncus
           pharetra metus. Ut sit amet lacus sit amet tortor mollis maximus.
           Pellentesque mi purus, malesuada nec mauris et, venenatis ultrices
           neque. Sed ultricies arcu finibus, posuere nunc et, tristique purus.
            In auctor ornare ultrices.
      </p>
      <p layout="row" flex="40">
          Donec molestie vestibulum lectus, sed sagittis libero suscipit quis. Donec ac porttitor tellus, sit amet tempor ex. Nam in est nec dui vehicula convallis sed non metus. Nullam eu lectus rhoncus ipsum pretium convallis eu et tellus. Donec ex nisi, malesuada in semper sit amet, posuere vel mi. Sed posuere nisl in eros luctus, et pharetra sapien hendrerit. Morbi consectetur vestibulum dolor, id pulvinar eros lacinia eu. In vitae suscipit justo. Praesent non metus eu elit pretium suscipit vitae sit amet nisi. In finibus nec dui vehicula molestie. Praesent sed lacinia ligula.
      </p>
    </md-whiteframe>
    <!-- <div class="">
    <div class="">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et
          consectetur massa. Sed scelerisque commodo libero, sed bibendum nisl
          vulputate sed. Vestibulum vitae velit venenatis, fermentum nisi ac,
           lacinia tortor. Etiam iaculis elementum ante vitae cursus. Donec vel
           velit imperdiet, elementum ligula eu, pharetra lorem. Aliquam sit
           amet magna ac lorem porta cursus sit amet a sem. Mauris fermentum id
           ante eget mollis. Nam urna neque, mollis vel purus eu, rhoncus
           pharetra metus. Ut sit amet lacus sit amet tortor mollis maximus.
           Pellentesque mi purus, malesuada nec mauris et, venenatis ultrices
           neque. Sed ultricies arcu finibus, posuere nunc et, tristique purus.
            In auctor ornare ultrices.
      </p>
      <p>
          Donec molestie vestibulum lectus, sed sagittis libero suscipit quis. Donec ac porttitor tellus, sit amet tempor ex. Nam in est nec dui vehicula convallis sed non metus. Nullam eu lectus rhoncus ipsum pretium convallis eu et tellus. Donec ex nisi, malesuada in semper sit amet, posuere vel mi. Sed posuere nisl in eros luctus, et pharetra sapien hendrerit. Morbi consectetur vestibulum dolor, id pulvinar eros lacinia eu. In vitae suscipit justo. Praesent non metus eu elit pretium suscipit vitae sit amet nisi. In finibus nec dui vehicula molestie. Praesent sed lacinia ligula.
      </p>
    </div> -->
<!-- </div> -->
</div>
